.nologin #profile, .nologin #logout, .nologin #universe, .nologin #groupName {
    display: none !important;
}

#profile, #logout {
    display: block;
}

/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    margin-top: -10px;
    background-color: #00458a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.1);
}

.rightMenu {
    height: 10px;
    margin-top: -13px;
}

#login {
    display: none;
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.nologin #login {
    display: block !important;
}

.nologin #sidebarMenu,
.nouniverse #sidebarMenu {
    display: none !important;
}

#sidebarMenu {
    white-space: nowrap;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.page.active.flex {
    display: flex;
}

.symbol {
    font-size: x-large;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.text-center {
    text-align: center !important;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0.4rem 1rem;
}

.sidebar .nav-link.menuSelected {
    color: #2470dc;
    background-color: lightblue;
}

table.table td {
    vertical-align: middle;
}

table.table tfoot td:last-child {
    text-align: right;
}

table.table .filtered {
    display: none;
}

table.table, table.table button {
    font-size: 14px;
}

.horiz {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.horiz label {
    margin-right: 10px;
    min-width: 100px;
}

#users .active {
    color: darkseagreen;
}

#universes .highlight, #groups .highlight {
    border: dashed 1px gray;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: smaller;
    margin-right: 5px;
    white-space: nowrap;
}

.sliceselect {
    right: 10px;
}

.navbar-nav {
    flex-direction: row;
    align-items: baseline;
    padding-left: 10px;
    margin-left: auto;
}

.table-responsive>table {
    display: table;
}

.table-responsive>span {
    display: none;
}


.table-responsive.none>table {
    display: none;
}

.table-responsive.none>span {
    display: block;
}

.ichec-color {
    background-color: #00458a !important;
}

#mytasks input[type=number] {
    width: 100px;
    text-align: right;
}

#mytasks td+td+td+td {
    white-space: nowrap;
}

#others td+td+td+td {
    white-space: nowrap;
    text-align: right;
}

canvas {
    max-width: 800px;
}

select,
input {
    max-width: 600px;
}

.ajaxcall {
    display: none;
}

#thumbsup {
    color: green;
}

#thumbsup.hidden {
    opacity: 0;
    animation: fadeOut 0.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

html,
body {
    overflow-x: hidden;
}

.navbar-toggler {
    top: 3px;
    left: 2px;
}

#thumbsup,
.ajaxcall {
    position: fixed;
    top: 5px;
    right: 3px;
}

.navbar-brand {
    margin-left: 45px;
}

@media (min-width: 768px) {
    .navbar-brand {
        margin-left: 0px;
    }
}

.logo {
    max-height: 23px;
    padding: 1px 1px 1px 1px;
    background-color: white;
    margin-right: 7px;
}

.register input,
.register .form-control {
    background-color: rgb(232, 240, 254) !important;
}

.selected {
    background-color: lightblue;
}

.msgcnt {
    margin-left: 46px;
    font-family: "Segoe Print", "Times New Roman", Verdana;
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    min-height: 29px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 2px;
    width: fit-content;
    max-width: 100%;
}

.msgcnt:before {
    content: "\02C4";
    position: relative;
    top: -17px;
    right: -8px;
    background-color: white;
    font-family: system-ui;
}

.msgsrc {
    font-size: small;
    margin-bottom: 8px;
    z-index: 11;
    position: relative;
    color: darkblue;
}

.myself .msgsrc {
    color: darkgreen;
}

.myself {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.senddiv {
    margin-top: 5px;
    text-align: end;
    margin-bottom: 20px;
}

.senddiv input {
    min-width: 400px;
}

button.messages .total {
    font-size: xx-small;
}

.table-responsive tbody {
    white-space: nowrap;
}

.table-responsive td[contenteditable] {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
}

/*.table-responsive thead>tr>th {
    min-width: 50%;
}*/

.table-responsive thead>tr>th+th {
    width: auto;
}

.table-responsive tbody button {
    white-space: normal;
}

.senddiv {
    position: relative;
}

.senddiv .dropzone {
    display: none;
}

.senddiv.dragging .dropzone {
    display: block;
    position: absolute;
    left: 0px;
    right: -40px;
    padding-right: 40px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    background-image: url(upload.svg);
    background-size: 31px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 246px);
    background-position-y: center;
}

.senddiv.dragging input {
    background-color: darkgrey;
}

.senddiv .uploading {
    position: absolute;
    left: 0px;
    top: 0px;
    right: -40px;
    bottom: 0px;
    background-color: white;
    padding-right: 40px;
}

.senddiv .uploading progress {
    min-width: 390px;
    max-width: 600px;
}

.senddiv .uploading .progress-container {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.senddiv .uploading .progress-container progress {
    height: 40px;
    position: relative;
    top: 14px;
    margin-top: -14px;
    margin-left: 5px;
    margin-right: 5px;
}

.senddiv .uploading .progress-container span {
    position: relative;
    top: -20px;
}

#groupTasks table td+td+td {
    white-space: normal;
    text-align: center;
}

.dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

select[multiple] {
    width: 100%;
}

.kanban {
    border-collapse: collapse;
}

.kanban th {
    border-bottom: solid 1px darkgray;
    min-height: 2em;
}

.kanban td span {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    min-width: 10em;
    min-height: 3em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(4deg);
    position: relative;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.kanban tbody td {
    background-color: white;
    height: 3em;
    text-align: center;

}

.kanban td:nth-child(2n) span {
    background: #ccf;
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
}

.kanban td:nth-child(3n) span {
    background: #cff;
}

.kanban td:nth-child(4n) span {
    transform: rotate(3deg);
    position: relative;
    top: -4px;
    background: #cfc;
}

.kanban [draggable] {
    cursor: hand;
}

#universes .table-responsive, #users .table-responsive, #groups .table-responsive {
    min-height: 100%;
}

.members {
    margin-top: 5px;
}

.members span {
    font-size: small;
    border: dashed 1px black;
    border-radius: 7px;
    padding: 0px 3px 0px 3px;
    margin: 0px 0px 0px 2px;
}

body>.container-fluid {
    overflow-y: hidden;
}

.clear {
    position: relative;
    left: -22px;
    background: none;
    border: none;
    top: -7px;
}

.icon {
    border: none;
    background: none;
}

.invalid {
    color: darkred;
}

.valid {
    color: darkgreen;
}

#batchactions thead th:nth-child(2) {
    width: 100%;
}

#batchactions tbody td:nth-child(3) {
    white-space: nowrap;
}

#batchactions table {
    border-collapse: collapse;
}

#batchactions td, #batchactions th {
    border: darkgray 1px solid;
}

.multiselect-dropdown {
    padding-right: 18px !important;
}

.spreadsheet {
    color: #217346;
    font-size: 30px;
    font-weight: bold;
}

main.page {
    margin-top: 10px;
}

h3 {
    font-size: 20px;
}

.deleteaccounts {
    float: right;
}

.removeuniverse {
    float: right;
}

.progress .unknown {
    background: repeating-linear-gradient(45deg, #d2d7ef, #b9c2f5 10px, #bfc8fb 10px, #c8cff3 20px)
}

.progresses {
    font-size:14px;
}

.multiselect-dropdown span.optext {
    display: ruby !important;
}